.domore .details::after {
  border-bottom: 2px solid var(--default-green-700);
  padding-bottom: 5px;
  content: "";
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .domore .details {
    width: 100%;
  }

  .domore img {
    width: 530px;
  }
}
