.newsletter h1 {
  font-size: 2.5rem;
}

.newsletter p {
  font-size: clamp(0.7rem, 2vw, 3rem);
}

.newsletter form input {
  border-radius: unset;
}

.newsletter form input::placeholder {
  color: var(--default-gray-400);
}

.newsletter form button {
  background-color: var(--default-green-400);
  height: 37px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .newsletter h1 {
    font-size: 1rem;
  }
}
