:root {
    --default-gray-50: #F9FAFB;
    --default-gray-400: #9CA3AF;
    --default-gray-500: #6B7280;
    --default-gray-700: #374151;
    --default-green-400: #34D399;
    --default-green-600: #059669;
    --default-green-700: #047857;
    --default-yellow-200: #FDE68A;
    --default-yellow-500: #F59E0B;
}